.book-details .expensive {
    color: red
}

.book-details .cheap {
    color: green
}

img.on-sale {
    position: absolute;
    top: 110px;
    right: 20px;
    rotate: 10deg;
    z-index: -1;
}

.book-details .btn-back {
    position: absolute;
    bottom: 20px;
    right: 20px;
}